@charset 'UTF-8';
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
}

ul
{
    list-style: none;
}

button,
input,
select,
textarea
{
    margin: 0;
}

html
{
    box-sizing: border-box;
}

*,
:before,
:after
{
    box-sizing: inherit;
}

embed,
object,
audio,
video
{
    max-width: 100%;
    height: auto;
}

iframe
{
    border: 0;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;

    text-align: left;
}

html
{
    font-size: 62.5%;

    overflow: auto;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

body
{
    font-family: YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', Meiryo, sans-serif;
    font-size: 1.6em;
    line-height: 1;

    position: relative;

    overflow-x: hidden;

    width: 100%;

    word-wrap: break-word;

    -webkit-text-size-adjust: 100%;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6
{
    font-weight: normal;
}

body .button,
body a,
body .button::before,
body a::before,
body .button::after,
body a::after
{
    box-sizing: border-box;

    transition: all .3s;
}

body a
{
    text-decoration: none;
}

body a:hover
{
    cursor: pointer;
}

body img
{
    display: block;

    border: none;
}

#littlenavigation
{
    margin: 30px 0;

    border-top: 1px solid #f5f5f5;
}

#littlenavigation ul
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;

    width: 80%;
    /*IE10*/
    margin: 0 auto;
}

#littlenavigation ul li
{
    width: 15%;
}

#littlenavigation ul li::before
{
    display: block;

    width: 1px;
    height: 9px;
    margin-bottom: 30px;

    content: '';

    background-color: #3b3b3b;
}

#littlenavigation ul li a:hover
{
    color: #fd5c63;
}

#littlenavigation ul li:last-child
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;
    /*--- IE10用 ---*/

    width: 85%;
    /*IE10*/

    justify-content: flex-end;
    -ms-flex-pack: end;
    /*--- IE10 ---*/
        flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

#littlenavigation ul li:last-child p,
#littlenavigation ul li:last-child .sns
{
    display: block;

    width: 100%;

    text-align: right;
}

#littlenavigation ul li:last-child p
{
    font-size: 12px;

    padding-bottom: 10px;

    letter-spacing: 2px;
}

#littlenavigation ul li:last-child .sns
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;
    /*IE10*/

    justify-content: flex-end;
    -ms-flex-pack: end;
    /*--- IE10 ---*/
}

#littlenavigation ul li:last-child .sns a
{
    /*--- IE10 ---*/
    font-size: 16px;

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;

    width: 45px;
    height: 45px;

    border-radius: 100%;
    background-color: #f5f5f5;
    /*IE10*/

    justify-content: center;
    -ms-flex-pack: center;
    /*--- IE10 ---*/
    align-items: center;
    -ms-flex-align: center;
}

#littlenavigation ul li:last-child .sns a:hover
{
    color: #fff;
    background-color: #1da1f2;
}

#littlenavigation ul li:last-child .sns a:last-child
{
    margin-left: 10px;
}

#littlenavigation ul li:last-child .sns a:last-child:hover
{
    background-color: #3b5998;
}

#littlenavigation ul .current::before
{
    content: '';

    background-color: #fd5c63;
}

#findmore
{
    width: 100%;
    margin-top: 1.2%;

    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

#findmore a
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;
    /*--- IE10 ---*/

    padding: 1.5% 2.5%;

    color: #fd5c63;
    background-color: rgba(255, 255, 255, .8);
    /*IE10*/

    justify-content: center;
    -ms-flex-pack: center;
    /*--- IE10 ---*/
    align-items: center;
    -ms-flex-align: center;
}

#findmore a:hover
{
    background-color: #fffff1;
}

#findmore a h2
{
    font-family: 'Roboto', YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', Meiryo, sans-serif;
    font-size: 18px;
}

#findmore a i
{
    font-size: 10px;

    margin-left: 10px;
}
